@use 'base/variables' as v;
@use 'base/mixins' as m;


footer {
    background-color: #f0f0f0; /* Fondo gris claro */
    padding: 40px 0;
    color: #333;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    margin: 0 15px;
}

.footer-column h3 {
    color: #00c7d7; /* Color azul para los títulos */
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #333;
}

.footer-column ul li a:hover {
    color: #00c7d7; /* Cambio de color al pasar el mouse */
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.social-icons a:hover {
    color: #00c7d7;
}

.social-icons i {
    font-size: 20px;
    margin-right: 10px;
}